<%= link_to "Create new item", new_item_path, class: "btn btn-default" %>

<div>
<% @items.each do |item| %>
<hr><p><%= image_tag(item.image.url, width: 300, height: 300)%></p>
  <h1><%= link_to item.name, item_path(item.id) %></h1>
  <p>Author: <%= item.user.email %> | 
   Create at: <%= item.created_at %></p>
  <% if current_user != nil and current_user.id == item.user_id %>
  <p>
  <%= link_to "Edit",  edit_item_path(item.id) %> or
  <%= link_to "Delete", item_path(item.id), data: {confirm: 'Rili deleted your post?'}, method: :delete %>
  </p>
  <%end%>
<%end%>
</div>