<p><%= f.label :name %></p>
<%= f.text_field :name %><br />

<p><%= f.label :description %></p>
<%= f.text_area :description %><br />

<p><%= f.label "Upload Photo" %></p>
<%= f.file_field :image %>

<p><%= f.submit "Save"%></p>